<div class="form-group">
    <label for="dependent-id">Dependent ID</label>
    <input type="text" name="dependentId" class="form-control" id="dependent-id" aria-describedby="dependent-id-help">
    <small id="dependent-id-help" class="form-text text-muted">00000XX or 00000X etc</small>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="dependent-first-name">Dependent First Name</label>
            <input type="text" class="form-control" name="dependentfirstname" id="dependent- first-name">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dependent-last-name">Dependent Last Name</label>
            <input type="text" class="form-control" id="dependent-last-name" name="dependentlastname">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="dependent-street">Dependent Street</label>
            <input type="text" class="form-control" id="dependent-street" name="dependentstreet"
                aria-describedby="dependent-street-help">
            <small id="dependent-street-help" class="form-text text-muted">Street name/Society Name/Alley Name</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dependent-city">Dependent City</label>
            <input type="text" name="dependentcity" class="form-control" id="dependent-city">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="dependent-state">Dependent State</label>
            <input type="text" class="form-control" name="dependentstate" id="dependent-state">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dependent-country">Dependent Country</label>
            <input type="text" name="dependentcountry" class="form-control" id="dependent-country">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="dependent-dob">Dependent Date Of Birth</label>
    <input type="date" class="form-control" name="dependentdateofbirth" id="dependent-dob">
</div>