<button type="button" class="btn btn-success" data-toggle="modal" data-target="#dependent-modal">
    Add Dependent
</button>

<!-- Modal -->
<div class="modal fade" id="dependent-modal" tabindex="-1" aria-labelledby="dependent-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dependent-modal-label">Add Dependent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="dependent-id">Dependent ID</label>
                    <input type="text" name="dependentId" class="form-control" id="dependent-id"
                        aria-describedby="dependent-id-help">
                    <small id="dependent-id-help" class="form-text text-muted">00000XX or 00000X etc</small>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="dependent-first-name">Dependent First Name</label>
                            <input type="text" class="form-control" name="dependentfirstname" id="dependent-first-name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="dependent-last-name">Dependent Last Name</label>
                            <input type="text" class="form-control" id="dependent-last-name" name="dependentlastname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="dependent-street">Dependent Street</label>
                            <input type="text" class="form-control" id="dependent-street" name="dependentstreet"
                                aria-describedby="dependent-street-help">
                            <small id="dependent-street-help" class="form-text text-muted">Street name/Society
                                Name/Alley Name</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="dependent-city">Dependent City</label>
                            <input type="text" name="dependentcity" class="form-control" id="dependent-city">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="dependent-state">Dependent State</label>
                            <input type="text" class="form-control" name="dependentstate" id="dependent-state">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="dependent-country">Dependent Country</label>
                            <input type="text" name="dependentcountry" class="form-control" id="dependent-country">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dependent-dob">Dependent Date Of Birth</label>
                    <input type="date" min="1900-01-01" max="2500-12-31" class="form-control"
                        name="dependentdateofbirth" id="dependent-dob">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="onDependentAdd();">Add Dependent</button>
            </div>
        </div>
    </div>
</div>